header .logotop{
	width: 1150px;
	margin-left:auto;
	margin-right:auto;
	height:145px;
	margin-top:18px;
	display:block;
}
header .logotop .logo2{
	float:right;
	display:inline;
}
header .logotop .logo1{
	float:left;
	display:inline;
}
header .logotop .menu{
	margin-top:2px;
	width:1150px;
	height:60px;
	float:right;
	display:block;
	border-bottom:solid #00F;
}
header .logotop .menu .menuul li{
	display:inline;
	float:right;
	margin-right:11px;
	line-height:0.6em;
	border:solid 1px #D5D2D2;
	padding:10px;
	border-radius:6px;
	font-family:Nassim;
	font-size: 13px;
	}
header .logotop .menu .menuul li:hover{
	background-color:#D5D2D2;
}
header .logotop .menu .menuul li a{
	text-decoration:none;
	text-shadow:0.5px 0.5px 0.5px  #000000;
	color:#000;
}

.main{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width: 1110px;
	height:2024px;
	border-bottom:solid 1px #000000;
}
.main .post{
	float:left;
	width:63.6667%;
	height:600px;
}
.main .matlab{
	float:right;
	width: 33.3333%;
	height:auto;
	border:solid 1px #D5D2D2;
	border-radius:6px;
	direction:rtl;
}
.main .matlab .logoaside{
	width:99.5%;
	height:70px;
	background-color:#F5F5F5;
	border:solid 1px #DDD;
}
.main .matlab .logoaside h4{
	float:right;
	margin-right:15px;
}
.main .matlab .logoaside .btn{
	float:left;
	margin-top:20px;
	margin-left:20px;
	background-color:#428BCA;
	border-radius:4px;
	padding:4px;
}
.main .matlab .logoaside .btn a{
	text-decoration:none;
	color:#333;
}
.main .matlab .matlabright .allmatlab{
	margin-top:20px;
}
.main .matlab .matlabright .allmatlab header{
	display:inline;
}
.main .matlab .matlabright .allmatlab header{
	background-color:#F5F5F5;
	width:90px;
	margin-right:10px;
	display:inline;
}

.main .matlab .matlabright .allmatlab .matn{
	margin-top:0px;
	padding:6px;
}
.main .matlab .matlabright .allmatlab .matn:hover{
	border-bottom:solid 1px #cCC;
	border-top:solid 1px #CCC;
}
.main .matlab .matlabright .allmatlab .matn a{
	text-decoration:none;
	color:#000;
	font-size:1.2em;
}
.main .matlab .matlabright .allmatlab .matn a p:hover{
	color:#06C;
}
.main .post .maintop{
	width:99.8%;
	height:300px;
	border:solid 1px #D5D2D2;

	background-color:#006
}
.main .post .maintop .maincenter p{
	margin-top:0px;
	float:right;
	font-size:1.7em;
	margin-right:15px;
}
.main .post .maintop .maincenter a{
	text-decoration:none;
	color:#FFF;
	font-family:Nassim;
	font-size:14px;
}

.main .post .maintop .maincenter{
	background-color:rgba(0,0,0,8);
	width:555px;
	height:143px;
	margin-left:auto;
	font-family:Nassim;
	margin-right:auto;
	margin-top:45px;
	padding:30px;
	direction:rtl;	
}
.main .post .maintop .maincenter .p2{
	font-size:1.2em;
	color:#06C;
	
}
.main .post .maintop .maincenter .p2:hover{
	color:#069;
}
.main .post .mainpost .postright .p1{
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:29%;
	height:310px;
	float:right;
	margin-top:45px;;
	direction:rtl;
	margin-left:20px;	
}
.main .post .mainpost .postright .p4{
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:29%;
	height:310px;
	float:right;
	margin-top:45px;;
	direction:rtl;
	margin-right:20PX;
	margin-left:20px;	
}
.main .post .mainpost .postright .p3{
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:29%;
	height:310px;
	float:left;
	margin-top:45px;;
	direction:rtl;
	margin-right:20px;
}
.main .post .mainpost .postright .p3 .panel{
	background-color:#E5E5E5;
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:90%;
	height:204px;
	float:inherit;
	margin-top:10px;;
	margin-left:5%;
	margin-right:5%;
	direction:rtl;

	
}
.main .post .mainpost .postright .p4 .panel{
	background-color:#E5E5E5;
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:90%;
	height:204px;
	float:inherit;
	margin-top:10px;;
	margin-left:5%;
	margin-right:5%;
	direction:rtl;
	
}
.main .post .mainpost .postright .p1 .panel{
	background-color:#E5E5E5;
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:90%;
	height:204px;
	float:inherit;
	margin-top:10px;;
	margin-left:5%;
	margin-right:5%;
	direction:rtl;
	text-decoration:none;
	
}
.main .post .mainpost .postright .p1 a{
	text-decoration:none;
	color:#494158;
}
.main .post .mainpost .postright .p4 a{
	text-decoration:none;
	color:#494158;
}
.main .post .mainpost .postright .p3  a{
	text-decoration:none;
	color:#494158;
}
.main .post .mainpost .postright .p1 a:hover{
	color:#099;
}
.main .post .mainpost .postright .p4 a:hover{
	color:#099;
}
.main .post .mainpost .postright .p3 a:hover{
	color:#099;
}
.main .post .postcenter{
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:704px;
	height:248px;
	float:inherit;
	margin-top:20px;;
	direction:rtl;
	text-decoration:none;
			
}
.main .post .postcenter .right1{
	background-color:#E5E5E5;
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:198px;
	height:198px;
	float:right;
	margin-top:30px;
	margin-right:15px;
			
}
.main .post .postcenter .mleft{
	border-radius:4px;
	width:450px;
	height:198px;
	float:left;
	margin-top:30px;
	margin-left:15px;
	text-decoration:none;
	font-family:Nassim;
}
.main .post .postcenter .mleft a{
	text-decoration:none;
	color:#494158;
	font-family:Nassim;
	font-size:14px;
}
.main .post .postcenter .mleft a:hover{
	color:#099;
}
.main .post .postcenter .mleft p{
 	margin-right:10px;
}
.main .post .mainpost .postright .p4 a p{
	margin-top:20px;
	margin-right:10px;
}
.main .post .mainpost .postright .p3 a p{
	margin-top:20px;
	margin-right:10px;
}
.main .post .mainpost .postright .p1 a p{
	margin-top:20px;
	margin-right:10px;
}
.main .matlab .matlabright .allmatlab .matn a p{
	font-family:Mitra,Nassim;
	color:#333;
	font-size:18px;
}	
.main .post .postcenter1{
	width:704px;
	height:510px;
	float:inherit;
	margin-top:20px;
			
}
.main .post .postcenter1 .right2{
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:330px;
	height:510px;
	float:right;
			
}
.main .post .postcenter1 .mleft1{
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:330px;
	height:510px;
	float:left;
	
}
.main .post .postcenter1 .right2 .pr1{
	background-color:#E5E5E5;
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:310px;
	height:328px;
	float:right;
	margin-right:10px;
	margin-top:10px;
	margin-left:10px;
	
}
.main .post .postcenter1 .mleft1 .pm1{
	background-color:#E5E5E5;
	border:solid 1px #CCCCCC;
	border-radius:4px;
	width:310px;
	height:328px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	margin-left:10px;
	
}
.main .post .postcenter1 .right2 .pr2{
	font-family:Nassim;
	font-size: 13px;
	float:right;
	direction:rtl;
	margin-right:10px;
	margin-top:20px;
	margin-left:10px;
	
}
.main .post .postcenter1 .mleft1 .pm2{
	font-family:Nassim;
	font-size: 13px;
	float:right;
	direction:rtl;
	margin-right:10px;
	margin-top:20px;
	margin-left:10px;
	
}
.main .post .postcenter1 .right2 .pr2 a{

	text-decoration:none;
	color:#494158;
	font-size:14px;
}
.main .post .postcenter1 .mleft1 .pm2 a{
	text-decoration:none;
	color:#494158;
	font-size:14px;
}
.main .post .postcenter1 .right2 .pr2 a:hover{
	color:#09C;
}
.main .post .postcenter1 .mleft1 .pm2 a:hover{
	color:#09c;	
}
.main .post .media{
	width:704px;
	height:510px;
	float:inherit;
	margin-top:20px;
}
.main .post .media .media1{
	width:704px;
	height:138px;
	float:inherit;
	margin-top:10px;
	border:solid 1px #CCCCCC;
	border-radius:4px;
}
.main .post .media .media2{
	width:704px;
	height:138px;
	float:inherit;
	margin-top:15px;
	border:solid 1px #CCCCCC;
	border-radius:4px;
}
.main .post .media .media3{
	width:704px;
	height:138px;
	float:inherit;
	margin-top:15px;
	border:solid 1px #CCCCCC;
	border-radius:4px;
}
.main .post .media .media1 .ax{
	width:74px;
	height:74px;
	float:right;
	margin-top:10px;
	margin-right:10px;
	border:solid 1px #CCCCCC;
	border-radius:4px;
}
.main .post .media .media1 .ax .ax1{
	width:64px;
	height:64px;
	float:right;
	margin-top:3px;
	margin-right:3px;
	margin-bottom:3px;
	margin-left:3px;
	background-color:#E5E5E5;
	border:solid 1px #CCCCCC;
}
.main .post .media .media1 .matn1{
	font-family:Nassim;
	font-size: 13px;
	direction:rtl;
	margin-right:20px;
	margin-top:20px;

}
.main .post .media .media1 .matn1 a{
	text-decoration:none;
	color:#494158;
	font-size:14px;

}
